.login-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #48c6ef, #6f86d6);
    padding: 20px;
    color: #ffffff;
  }
  

  .login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-image img {
    max-width: 90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
  
  .login-form {
    flex: 1;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .login-form h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .subheading {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .error {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn {
    width: 100%;
    padding: 12px 20px;
    background: #48c6ef;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover {
    background: #399cc5;
    transform: translateY(-3px);
  }
  
  .par {
    color: #333;

  }